<!-- Las rutas parten desde el directorio de las carpetas Jquery y msdropdown -->
<span><select name="webmenu" id="comboClases" class="form-select form-select-sm" >
		<option value="calendar" selected="selected" title="../images/classes/icons/Beastly.png">Beastly  </option>
		<option value="shopping_cart" data-image="../images/classes/icons/Brainy.png">Brainy  </option>
		<option value="cd" data-image="../images/classes/icons/Crazy.png">Crazy  </option>
		<option value="email"  data-image="../images/classes/icons/Hearty.png">Hearty  </option>
		<option value="faq" data-image="../images/classes/icons/Sneaky.png">Sneaky  </option>
</select></span>