<!-- Las rutas parten desde el directorio de las carpetas Jquery y msdropdown -->
<select name="webmenu" id="comboAtributos" th:field="${combinacionCC1.carta.ValorComboAtributos}" style="display:  none" class="form-select form-select-sm" >
		<option value="Amphibious"  data-image="">Amphibious </option>
		<option value="Anti-Hero" title="../images/abilities/Anti-Hero.png">Anti-Hero</option>
		<option value="Armored" data-image="../images/abilities/Armored.png">Armored  </option>
		<option value="Bullseye"  data-image="../images/abilities/Bullseye.png">Bullseye </option>
		<option value="Deadly" data-image="../images/abilities/Deadly.png">Deadly </option>
		<option value="Double Strike" data-image="../images/abilities/Double Strike.png">Double Strike </option>
		<option value="Frenzy"  data-image="../images/abilities/Frenzy.png">Frenzy </option>
		<option value="Gravestone"  data-image="">Gravestone </option>
		<option value="Hunt"  data-image="">Hunt </option>
		<option value="Ninguno"  data-image="">Ninguno </option>	
		<option value="Overshoot" data-image="../images/abilities/Overshoot.png">Overshoot </option>
		<option value="Strikethrough"  data-image="../images/abilities/Strikethrough.png">Strikethrough </option>
		<option value="Splash Damage"  data-image="">Splash Damage </option>
		<option value="Team-Up"  data-image="">Team-Up</option>
		<option value="Untrickable" data-image="../images/abilities/Untrickable.png">Untrickable </option>
</select>