<!-- Las rutas parten desde el directorio de las carpetas Jquery y msdropdown -->
<select name="webmenu" id="comboClases" th:field="${combinacionCC1.carta.ValorComboClases}" style="display: none" class="form-select form-select-sm" >
		<option value="Guardian" title="../images/classes/icons/Guardian.png">Guardian</option>
		<option value="Kabloom" data-image="../images/classes/icons/Kabloom.png">Kabloom</option>
		<option value="Mega-Grow" data-image="../images/classes/icons/Mega-Grow.png">Mega-Grow</option>
		<option value="Smarty"  data-image="../images/classes/icons/Smarty.png">Smarty</option>
		<option value="Sneaky" data-image="../images/classes/icons/Solar.png">Solar</option>
		<option value="Beastly" selected="selected" title="../images/classes/icons/Beastly.png">Beastly</option>
		<option value="Brainy" data-image="../images/classes/icons/Brainy.png">Brainy</option>
		<option value="Crazy" data-image="../images/classes/icons/Crazy.png">Crazy</option>
		<option value="Hearty"  data-image="../images/classes/icons/Hearty.png">Hearty</option>
		<option value="Sneaky" data-image="../images/classes/icons/Sneaky.png">Sneaky</option>
</select>
