<form name='f' th:object="${formulario}"
					th:action="@{/busqueda}" method='POST' id="form1">
<table class="elementoConMargen" id="tablaCombos">
	<thead>
		<th>Filtro 1</th>
		<th hidden class="tituloAdicional">Filtro 2</th>
		<th hidden class="tituloAdicional">Filtro 3</th>
		<th hidden class="tituloAdicional">Filtro 4</th>
	</thead>
	<tbody>
		<tr>
			<td><div>
					<select id="comboAtributos1"
						class="form-select form-select-sm comboAtributos"
						th:field="${formulario.CC1.comboboxA.valor}">
						<option value="">--</option>
						<option
							th:each="entry : ${formulario.CC1.comboboxA.opcionesSeleccion.entrySet()}"
							th:value="${entry.value}" th:utext="${entry.key}"></option>
					</select> <select id="comboOperadores1"
						class="form-select form-select-sm ddcommon"
						th:field="${formulario.CC1.comboboxOperadores.valor}">
						<option value="">--</option>
					</select> <select id="comboOpcionesAtributo1" style="display: none"
						th:field="${formulario.CC1.carta.ValorCombo}"
						class="form-control mb-4 col-4">
					</select>
					<th:block
						th:replace="fragmentos/comboImagenesAtributos.html :: fragmento(numero = '1')"></th:block>
					<th:block
						th:replace="fragmentos/comboImagenesClases.html :: fragmento(numero = '1')"></th:block>
					<th:block
						th:replace="fragmentos/comboImagenesTipos.html :: fragmento(numero = '1')"></th:block>
					<input autofocus type="text" id="input1" style="display: block"
						th:field="${formulario.CC1.carta.ValorInput}" placeholder=""
						class="form-control mb-4 col-4">
					<button onClick="submitAllFormsAtOnce()" class="btn btn-primary">Buscar</button>
				</div></td>

			<td><div>
					<select id="comboAtributos2"
						class="form-select form-select-sm comboAtributos"
						th:field="${formulario.CC2.comboboxA.valor}">
						<option value="">--</option>
						<option
							th:each="entry : ${formulario.CC2.comboboxA.opcionesSeleccion.entrySet()}"
							th:value="${entry.value}" th:utext="${entry.key}"></option>
					</select> <select id="comboOperadores2" class="form-select form-select-sm"
						th:field="${formulario.CC2.comboboxOperadores.valor}">
						<option value="">--</option>
					</select> <select id="comboOpcionesAtributo2" style="display: none"
						th:field="${formulario.CC2.carta.ValorCombo}"
						class="form-control mb-4 col-4">
					</select>
					<th:block
						th:replace="fragmentos/comboImagenesAtributos.html  :: fragmento(numero = '2')"></th:block>
					<th:block
						th:replace="fragmentos/comboImagenesClases.html :: fragmento(numero = '2')"></th:block>
					<th:block
						th:replace="fragmentos/comboImagenesTipos.html ::  fragmento(numero = '2')"></th:block>
					<input autofocus type="text" id="input2"
						th:field="${formulario.CC2.carta.ValorInput}" placeholder=""
						class="form-control mb-4 col-4">
					<button id="button2" class="btn btn-primary" style="visibility: hidden">Buscar</button>
				</div></td>

			<!-- <td><form hidden class="filtroAdicional" name='f'
					th:object="${combinacionCC3}" th:action="@{/busqueda}"
					method='POST' id="form3">
					<select id="comboAtributos3"
						class="form-select form-select-sm comboAtributos"
						th:field="${combinacionCC3.comboboxA.valor}">
						<option value="">--</option>
						<option
							th:each="entry : ${combinacionCC3.comboboxA.opcionesSeleccion.entrySet()}"
							th:value="${entry.value}" th:utext="${entry.key}"></option>
					</select> <select id="comboOperadores3" class="form-select form-select-sm"
						th:field="${combinacionCC3.comboboxOperadores.valor}">
						<option value="">--</option>
					</select><select id="comboOpcionesAtributo3" style="display: none"
						th:field="${combinacionCC3.carta.ValorCombo}"
						class="form-control mb-4 col-4">
					</select>
					<th:block
						th:replace="fragmentos/comboImagenesAtributos.html  :: fragmento(numero = '3')"></th:block>
					<th:block
						th:replace="fragmentos/comboImagenesClases.html :: fragmento(numero = '3')"></th:block>
					<th:block
						th:replace="fragmentos/comboImagenesTipos.html ::  fragmento(numero = '3')"></th:block>
					<input autofocus type="text" id="input3"
						th:field="${combinacionCC3.carta.ValorInput}" placeholder=""
						class="form-control mb-4 col-4">
					<button style="visibility: hidden" class="btn btn-primary">Buscar</button>
				</form></td>-->
		</tr>
	</tbody>
</table>
</form>

<script>
    function submitAllFormsAtOnce() {
	$(".btn").click(function(e) {
	      e.preventDefault(); // or make the button type=button
	      $.post($("#form1").attr("action"), $("#form1").serialize() + $("#form2").serialize(), function() {
		      alert('Both forms submitted');
		    });
	      });
	  };
	/*
	$("#button2").click();
	document.forms[0].submit();
	console.log(document.forms[0].elements['comboAtrib1'].value);
	document.forms[1].submit();
	console.log(document.forms[1].elements['comboAtrib2'].value);*/
    
</script>