<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<th:block th:replace="fragmentos/fragmentoCabecera.html"></th:block>

<body>
	<br>
	<div class="elementoConMargen">
		<h1>Queries in PVZHeroes database</h1>
	</div>
	<br>
	<th:block th:replace="fragmentos/fragmentoComboNumeroFiltros.html"></th:block>
	<br>
	<div
		class="elementoConMargen elementoConTamañoMaximo alert alert-warning col-md-12"
		role="alert">



		<h4>Has utilizado los siguiente filtros:</h4>
		<div th:style="'color: red;'"
			th:each="string, iStat : ${listaFiltros}"
			th:text="${iStat.odd}? ${listaFiltros[iStat.index] + ': '} : ${listaFiltros[iStat.index]}"></div>
		<!-- INCLUIR EL "EN COMBINACIÓN CON/O, ALTERNATIVAMENTE -->
		<br>
		<h4>No existe ninguna carta que coincida con ellos.</h4>
	</div>
	<br>
	<a class="elementoConMargen" href="/index">Return to the main page</a>
	<th:block th:replace="fragmentos/scripts.html"></th:block>
</body>
</html>