<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<th:block th:replace="fragmentos/fragmentoCabecera.html"></th:block>

<body>
	<br>
	<div class="elementoConMargen">
		<h1>Queries in PVZHeroes database</h1>
	</div>
	<br>
	<th:block th:replace="fragmentos/fragmentoComboNumeroFiltros.html"></th:block>
	<br>
	<th:block th:replace="fragmentos/fragmentoTablaCombosFiltros.html"></th:block>
	<br>
	<div class="elementoConMargen alert alert-warning col-md-12"
		role="alert">
		<h4>
			No existe ninguna carta con el nombre "<span
				th:style="'color: red; font-weight: bold;'" th:text="${nombreCarta}"></span>"
			en la Base de Datos
		</h4>
	</div>
	<script src="javascript/scriptFiltros.js"></script>
	<script src="javascript/adaptacionComboOperadores.js"></script>
</body>
</html>