<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<th:block th:replace="fragmentos/fragmentoCabecera.html"></th:block>

<body>
	<br>
	<div class="elementoConMargen">
		<h1>Queries in PVZHeroes database</h1>
	</div>
	<br>
	<th:block th:replace="fragmentos/fragmentoComboNumeroFiltros.html"></th:block>
	<br>
	<th:block th:replace="fragmentos/fragmentoTablaCombosFiltros.html"></th:block>
	<br>
	<th:block th:replace="fragmentos/fragmentoTablaResultados.html"></th:block> 
	<th:block th:replace="fragmentos/scripts.html"></th:block>
</body>
</html>