<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>PVZHeroes-Stats (web app)</title>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Bootstrap CSS -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
	crossorigin="anonymous">
<link th:href="@{/CSS.css}" href="/CSS.css" rel="stylesheet"
	type="text/css" />
</head>

<body>
	<br>
	<div class="elementoConMargen">
		<h1>Queries in PVZHeroes database</h1>
	</div>
	<br>

	<table class="elementoConMargen" id="tablaCombos">
		<thead>
			<th>Nombre</th>
			<!--<th>Ataque</th>
			<th>Defensa</th>
			<th>Coste</th>-->
		</thead>
		<tbody>
			<tr >
				<form name='f' th:object="${combinacionCartaCombobox}"
					th:action="@{/busqueda}" method='POST'>
					<td><select
						th:field="${combinacionCartaCombobox.combobox.valor}">
							<option value="">--</option>
							<option
								th:each="entry : ${combinacionCartaCombobox.combobox.opcionesSeleccion.entrySet()}"
								th:value="${entry.value}" th:utext="${entry.key}"></option>
					</select> <input type="text"
						th:field="${combinacionCartaCombobox.carta.Nombre}"
						placeholder="Nombre" class="form-control mb-4 col-4">
						<button type="submit">Buscar</button></td>
				</form>
			</tr>
		</tbody>
	</table>

	<br>
	<table
		class="table table-hover table-dark table-bordered table-striped">
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Ataque</th>
				<th>Defensa</th>
				<th>Coste</th>
				<th>Clase</th>
				<th>Tribus</th>
				<th>Atributos</th>
				<th>Habilidades</th>
				<th>Rareza</th>
				<th>Mazo</th>
				<th>Tipo</th>
				<th>NumeroAtributos</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="card : ${listaCartas}">
				<td><span><a th:href="${card.URL}"
						th:text="${card.Nombre}"></a> <br> <img
						th:src="@{${card.Imagen}}" th:width="80"> </span></td>
				<td th:text="${card.Ataque}" />
				<td th:text="${card.Defensa}" />
				<td th:text="${card.Coste}" />
				<td><span th:if="${card.Clase == 'Sin clase'}" th:style="'color:gray'"> 
						<span>Sin clase</span>
					</span> 
					<span th:unless="${card.Clase == 'Sin clase'}"> 
						<span th:if="not ${card.Clase.matches('.*\s+.*')}"> 
							<img th:src="@{'/images/classes/'+ ${card.Clase} + '.png'}" th:width="30">
						</span> 
						<span th:unless="not ${card.Clase.matches('.*\s+.*')}"> 
							<span th:each="image,status : ${#strings.arraySplit(card.Clase, ', ')}">
								<span>
									<img th:src="@{'/images/classes/' + ${image} + '.png'}" th:width="30"> 
								</span>
							</span>
						</span>
					</span>
				</td>
				
				<td th:text="${card.Tribus}" />

				<td><span th:if="not ${card.Atributos.matches('.*\s+.*')}" th:style="'color: white'"> 
						<img th:src="@{'/images/abilities/'+ ${card.Atributos} + '.png'}" onerror="this.onerror=null; this.remove();" 
							th:width="20">
						<span th:text="${card.Atributos}"/>	
					</span>
					<span th:unless="not ${card.Atributos.matches('.*\s+.*')}"> 
						<span th:if="${card.Atributos}=='Sin atributos'" th:style="'color: gray'"> 
							<span th:text="${card.Atributos}"/>
						</span>
						<span th:unless="${card.Atributos}=='Sin atributos'"> 
							<span th:each="image,status : ${#strings.arraySplit(card.Atributos, ' ')}">
								<span>
									<span th:if="${image}=='Double'"> 
										<img th:src="@{'/images/abilities/Double Strike.png'}" th:width="20"> 
									</span>
									<span th:unless="${image}=='Double'"> 
										<img th:src="@{'/images/abilities/' + ${image} + '.png'}" onerror="this.onerror=null; this.remove();" th:width="20"> 
									</span>
								<span th:text="${image}"/>
								</span>
							</span>
						</span>
					</span>
				</td>

				<td><span th:if="${card.Habilidades}=='Sin habilidades'" th:style="'color: gray'" > 
						<span th:text="${card.Habilidades}"/>
					</span>
					<span th:unless="${card.Habilidades}=='Sin habilidades'" th:style="'color: white'"> 
						<span th:if="not ${card.Habilidades.matches('.*%.*')}">
							<span th:text="${card.Habilidades}"/>
						</span>
						<span th:unless="not ${card.Habilidades.matches('.*%.*')}">
							<span th:if="${card.Habilidades.matches('.*%.*%.*%.*')}"> <!-- 3 IMAGENES -->
							<span th:with="indiceNombre=${#strings.indexOf(card.Habilidades,'%')}">
							<span th:with="indiceNombreFinal=${#strings.indexOf(card.Habilidades,'#')}">
							<span th:with="nombreImagen=${#strings.substring(card.Habilidades, indiceNombre+1, indiceNombreFinal)}">
							<span th:with="fragmentoFinal=${#strings.substring(card.Habilidades,indiceNombreFinal+1)}">
								<span th:text="${#strings.substring(card.Habilidades,0,indiceNombre)}"></span> 
								<img th:src="@{'/images/abilities/' + ${nombreImagen} +'.png'}" 
									onerror="this.onerror=null; this.remove();" th:width="30">
									<span th:if="${fragmentoFinal.matches('.*%.*')}">
										 <span th:with="indiceNombre2=${#strings.indexOf(fragmentoFinal,'%')}">
											<span th:with="indiceNombreFinal2=${#strings.indexOf(fragmentoFinal,'#')}">
											<span th:with="nombreImagen2=${#strings.substring(fragmentoFinal, indiceNombre2+1, indiceNombreFinal2)}">
											<span th:text="${#strings.substring(fragmentoFinal,0,indiceNombre2)}"></span> 
											<img th:src="@{'/images/abilities/' + ${nombreImagen2} +'.png'}" 
												onerror="this.onerror=null; this.remove();" th:width="30">		
											<span th:with="fragmentoFinal2=${#strings.substring(fragmentoFinal,indiceNombreFinal2+1)}">		
											<span th:if="${fragmentoFinal2.matches('.*%.*')}">
												<span th:with="indiceNombre3=${#strings.indexOf(fragmentoFinal2,'%')}">
												<span th:with="indiceNombreFinal3=${#strings.indexOf(fragmentoFinal2,'#')}">
												<!--<span th:text="${fragmentoFinal2}"></span> 
												<span th:text="${indiceNombre3}"></span> 
												<span th:text="${indiceNombreFinal3}"></span> -->
												<span th:with="nombreImagen3=${#strings.substring(fragmentoFinal2, indiceNombre3+1, indiceNombreFinal3)}">
												<span th:with="fragmentoFinal3=${#strings.substring(fragmentoFinal2,indiceNombreFinal3)}">	
												<span th:text="${#strings.substring(fragmentoFinal2,0,indiceNombre3)}"></span> 
												<img th:src="@{'/images/abilities/' + ${nombreImagen3} +'.png'}" 
													onerror="this.onerror=null; this.remove();" th:width="30">		
												 <span th:text="${#strings.replace(fragmentoFinal3,'#','')} "></span>  
												</span> 
												</span>
												</span>
												</span>
											</span>
											<span th:unless="${fragmentoFinal2.matches('.*%.*')}">
												<span th:text="${#strings.replace(fragmentoFinal2,'#','')} "></span> 
											</span>
											</span> 
											</span>
											</span>		
										</span>
									</span>
		
							</span>
							</span>
							</span>
							</span>
							</span>
							<span th:unless="${card.Habilidades.matches('.*%.*%.*%.*')}">
								<span th:if="${card.Habilidades.matches('.*%.*%.*')}"> <!-- 2 IMAGENES -->
									<span th:with="indiceNombre=${#strings.indexOf(card.Habilidades,'%')}">
									<span th:with="indiceNombreFinal=${#strings.indexOf(card.Habilidades,'#')}">
									<span th:with="nombreImagen=${#strings.substring(card.Habilidades, indiceNombre+1, indiceNombreFinal)}">
									<span th:with="fragmentoFinal=${#strings.substring(card.Habilidades,indiceNombreFinal+1)}">
									<span th:text="${#strings.substring(card.Habilidades,0,indiceNombre)}"></span> 
									<img th:src="@{'/images/abilities/' + ${nombreImagen} +'.png'}" 
										onerror="this.onerror=null; this.remove();" th:width="30">
									<span th:if="${fragmentoFinal.matches('.*%.*')}">
										 <span th:with="indiceNombre2=${#strings.indexOf(fragmentoFinal,'%')}">
											<span th:with="indiceNombreFinal2=${#strings.indexOf(fragmentoFinal,'#')}">
											<span th:with="nombreImagen2=${#strings.substring(fragmentoFinal, indiceNombre2+1, indiceNombreFinal2)}">
											<span th:text="${#strings.substring(fragmentoFinal,0,indiceNombre2)}"></span> 
											<img th:src="@{'/images/abilities/' + ${nombreImagen2} +'.png'}" 
												onerror="this.onerror=null; this.remove();" th:width="30">		
											<span th:with="fragmentoFinal2=${#strings.substring(fragmentoFinal,indiceNombreFinal2)}">		
											<span th:text="${#strings.replace(fragmentoFinal2,'#','')} "></span> 
											</span> 
											</span>
											</span>		
										</span>
									</span>
									</span>
									</span>
									</span>
									</span>
								</span>
									<span th:unless="${card.Habilidades.matches('.*%.*%.*')}"> <!-- SOLO UNA IMAGEN -->
									<span th:with="indiceNombre=${#strings.indexOf(card.Habilidades,'%')}">
									<span th:with="indiceNombreFinal=${#strings.indexOf(card.Habilidades,'#')}">
									<span th:with="nombreImagen=${#strings.substring(card.Habilidades, indiceNombre+1, indiceNombreFinal)}">
									<span th:with="fragmentoFinal=${#strings.substring(card.Habilidades,indiceNombreFinal+1)}">
									<span th:text="${#strings.substring(card.Habilidades,0,indiceNombre)}"></span> 
									<img th:src="@{'/images/abilities/' + ${nombreImagen} +'.png'}" 
										onerror="this.onerror=null; this.remove();" th:width="30">
									<span th:text="${#strings.substring(card.Habilidades,indiceNombreFinal+1)}"></span> 
									</span>
									</span>
									</span>
									</span>
									</span>
							</span>
						</span>
					</td>
				
				<td><span th:if="${card.Rareza}=='Sin rareza'"
					th:style="'color: gray'" /> <span
					th:unless="${card.Rareza}=='Sin rareza'" th:style="'color: white'" /><span
					th:text="${card.Rareza}"></span></td>

				<td><span th:if="${card.Mazo}=='Sin mazo'"
					th:style="'color: gray'" /> <span
					th:unless="${card.Mazo}=='Sin mazo'" th:style="'color: white'" /><span
					th:text="${card.Mazo}"></span></td>

				<td><span><img
						th:src="@{'/images/types/'+ ${card.Tipo} + '.png'}" th:width="40"></span></td>
				<div th:switch="${card.NumeroAtributos}">
					<td th:case="0" th:style="'background: firebrick;'"><span
						th:text=${card.NumeroAtributos} th:style="'color: black;'" /></td>
					<td th:case="1" th:style="'background: gold;'"><span
						th:text=${card.NumeroAtributos} th:style="'color: black;'" /></td>
					<td th:case="2" th:style="'background: limegreen;'"><span
						th:text=${card.NumeroAtributos} th:style="'color: black;'" /></td>
					<td th:case="*" th:style="'background: steelblue;'"><span
						th:text=${card.NumeroAtributos} th:style="'color: black;'" /></td>
				</div>
			</tr>
		</tbody>
	</table>
</body>

</html>