@charset "ISO-8859-1";

.elementoConMargen {
	position: relative;
	left: 30px;
}

.elementoConTamañoMaximo {
	max-width: 800px;
}

.contenedorNaranja {
	background-color: gold;
	max-width: 90%;
}

body {
	background-color: DarkOrange;
}

table {
	text-align: center;
}

.columnaFiltro {
	padding: 5px 5px 15px 5px;
}

.titulo {
	padding: 10px 5px 15px 0px;
}

#berry {
	position: relative;
}

.berry {
	position: relative;
	transform: scale(-1, 1);
    -moz-transform: scale(1, -1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -khtml-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
}


.rotatedberry {
	position: relative;
    transform: scale(-1, 1);
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -khtml-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
}

#explosion {
	position: relative;
}